body{
    display: flex;
    justify-content: space-around;
}


.container{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: red; */
    gap: 7px;
    height: 36rem;
    width: 36rem;
    border: 2px solid rgb(128, 125, 125);
    padding: 2rem 5rem;
    margin: 2rem;
    width: 576px;
    /* justify-content: space-around; */

}

/* form{
    
} */
.hide{

    display: none;
}
.error-tooltip{
    display: none;
    position: relative;
    z-index: -1;
    background-color: white;
    color: white;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 0px;
    width: 15rem;
    border-radius: 3px;
    margin-bottom: 0px;
    bottom: 221%;
    left: 90%;
    padding: 16px;
}

.error-icon{
    height: 0px;
    position: relative;
    margin-top: -10%;
}

.error-icon:hover + .error-tooltip{
    background-color: rgb(78, 77, 77);
    z-index: 1;
}

.error-question {
    width: 11rem;
    font-size: 17px;
    color: white;
    background-color: rgb(78 77 77);
    padding: 15px;
    border-radius: 3px;
    position: relative;
    top: -5%;
}

.annualIncome> .error-question{
    left: 38%;
    display: none;
}

.extraIncome> .error-question{
    left: 37%;
    position: absolute;
    top: 23%;
    display: none;
}

.ageGroup> .error-question{
    left: 23%;
    position: absolute;
    top: 36%;
    left: 35%;
    display: none;
}

.deduction> .error-question{
    left: 48%;
    position: absolute;
    display: none;
    top: 50%;
}

.far.fa-question-circle:hover{
    color: red;
    transform: scale(1.2);
}

.far.fa-question-circle:hover + .deduction> .error-question{
    /* display: grid; */
    color: #f04e4e;
}

.fa-exclamation-circle{
    color: red;
    position: relative;
    top: 150%;
    left: 94%;
}

div{
    display: grid;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

input{
    height: 2.3rem;
    border-radius: 3px;
    padding: 0px 10px;
    font-weight: 700;
    font-size: 15px;
}

select{
    /* width: calc(32rem+16px); */
    height: 2.3rem;
    padding: 0px;
    border-radius: 3px;
    border: 2px solid rgb(128, 125, 125);
    font-weight: 700;
    font-size: 15px;

}

option{
    border: 2px solid rgb(128, 125, 125);
    font-weight: 700;
}

.fa-regular{
    color: red;
}

a> button{
    background-color: rgb(73, 73, 222);
    width: 100%;
    height: 2.4rem;
    border: 2px solid rgb(84, 82, 82);
    border-radius: 3px;
}

.hidden{
    display: none;
}

